# Ignore testing area for scripts
/scripts/testing/

# Ignore /data subdirectory except specific files
/data/*
!/data/*/
!/data/current/
!/data/current/README.txt
!/data/teamIcons.txt
!/data/*/fbsTeamNames.txt
# Ignore the week subdirectories
/data/*/*/



# Ignore any hidden files (starting with .)
.*
!/.gitignore
