# Ignore testing area for scripts
/scripts/testing/

# Ignore /data subdirectory except specific files
/data/*
!/data/current/README.txt
!/data/teamIcons.txt



# Ignore any hidden files (starting with .)
.*
!/.gitignore
